/* Page template: https://repth.neocities.org/theme */
html {
     scrollbar-color:#bc8f8f #000;
}
 body {
     background-color: #143b3e;
     background-image: url("img/ditherfinny.png");
     background-repeat: repeat-x;
     background-size: auto;
     font-family: "Roboto Mono";
     font-weight: 300;
}
 .subheader {
     font-family: "TheGoodMonolith";
}
 #container {
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 1400px;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #fdf5e6;
     padding: 3px;
}
 #box {
     width: 100%;
     background-color: rgba(13, 36, 38, 0.4);
     backdrop-filter: blur(2px);
     color: #000;
     border: 1px solid #ff91a4;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
     font-size: 22px;
}
 #header {
	 margin-bottom: 10px;
     padding: 10px;
     border-bottom: 1px solid #ff91a4;
     background-image: linear-gradient(to top, #dd4444, #f48080);
     color: #fff;
     letter-spacing: 3px;
	 font-family: "TheGoodMonolith";
}
 #header h1, h2 {
     margin: 0;
}
#contentboxes{
  display:flex;
       color: #fdf5e6;
     font-size: 17px;
}
 #side {
     flex:1;
     padding: 0 0 5px 10px; 
}
 .sidebox {
     border: 1px solid #ff91a4;
     margin: 0 0 10px 0;
     background-color: rgba(13, 36, 38, 0.5);
     backdrop-filter: blur(3px);
}
 .sidecontent {
     padding: 0 0 0 5px;
     margin: 3px;
     color: #6e5057;
     letter-spacing: 1px;
}
 .sidecontent ul, li {
     margin: 0;
     list-style-type: none;
     padding-left: 0;
     font-size: 17px;
}
.icon{
	vertical-align:middle;
	width:20px;
}
 a, .icon {
     text-decoration: none;
     color: #f2cf5c;
     vertical-align: middle;
}
 a:visited {
     color: #ffa245;
}
 a:hover {
     text-shadow: 0 0 4px #fcf17e;
}
 main {
     flex:5;
     overflow: auto;
     padding: 0 5px 0px 10px;
}
 .mainboxes {
     border: 1px solid #ff91a4;
     padding: 0;
     margin: 0 5px 10px 0;
     background-color: rgba(13, 36, 38, 0.5);
     backdrop-filter: blur(3px);
}
 .subheader {
     background-image: linear-gradient(to top, #dd4444, #f48080);
     border-bottom: 1px solid #ff91a4;
     padding: 3px;
     color: #fff;
     letter-spacing: 3px;
     font-size: 20px;
}
 .subheader h3 {
     margin: 0;
}
 .mainboxescontent {
     padding: 5px 15px 5px 15px;
     overflow: auto;
}
.mainboxescontent h2 {
	font-size:20px;
	color:#a7d5e8;
}
.mainboxescontent b, .mainboxes strong{
	color:#b6a7e8;
}
.mainboxescontent i, .mainboxescontent em{
	color:#f29acc;
}
.twoboxes{
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	gap:5px;
	}
 figure {
	 max-width:100%;
     margin: 10px 0px 10px 0px;
     border: 1px solid #ff91a4;
     background-color: rgba(13, 36, 38, 0.6);
     backdrop-filter: blur(2px);
}
 figcaption {
	 max-width:100%;
     font-size: 14px;
     text-align: center;
     height: auto;
     padding: 0 5px 5px 5px;
}
 .body_img {
	 max-width:100%;
     padding: 5px 5px 0 5px;
}
 .tooltip, .tooltip i{
     position:relative;
     border-bottom:1px dashed;
     color: #c8e8a7;
     cursor: pointer;
}
 .tooltip:before {
     content: attr(data-text);
     border: 1px solid #ff91a4;
     background:#6b1f35;
	 opacity:0.9;
     color: #d7e8c5;
     font-weight: bold;
     font-size:15px;
     text-align:center;
     display:none;
}
 .tooltip:hover:before {
     display:inline-block;
}
 #footer {
     clear: both;
     padding: 3px;
     border-top: 1px solid #ff91a4;
     background-image: linear-gradient(to bottom, #dd4444, #f48080);
     color: #fff;
     font-size: 16px;
     text-align: center;
}
 #footer p {
     margin: 0px;
}
