fuck it im just gonna copy my entire style page and see if you can spot anything that might be causing the error
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body p{
    line-height: 1.3em;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
@font-face {
    font-family:"Comic Sans";
    src: url("fonts/ComicSansMS.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family:"Cozette";
    src: url("fonts/CozetteVector.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Fira Code;
    src: url("fonts/FiraCode-VariableFont_wght.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Lexend Exa;
    src: url("fonts/LexendExa-VariableFont_wght.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Lexend Mega;
    src: url("fonts/LexendMega-VariableFont_wght.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: OpenDyslexic-Regular;
    src: url("fonts/OpenDyslexic-Regular.otf") format('opentype');
    font-display: swap;
}
@font-face {
    font-family: Papyrus;
    src: url("fonts/papyrus.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Verdana;
    src: url("fonts/verdana.ttf") format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Wingdings;
    src: url("fonts/wingding.ttf") format('truetype');
    font-display: swap;
}

/* Scrollbar CSS ---> https://codepen.io/stephenpaton-tech/full/JjRvGmY/ */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #97ba91 #000;
    box-sizing: border-box;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: #000;
}
*::-webkit-scrollbar-thumb {
    background-color: #97ba91;
    border-radius: 0;
    border: 0 ridge #fff;
}

::selection {
    background: #dded83; /* WebKit/Blink Browsers */
    color:#dd4444;
  }
  ::-moz-selection {
    background: #dded83; /* Gecko Browsers */
    color:#dd4444;
  }
body:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient( rgba(201, 221, 230, 0) 50%, rgba(13, 6, 37, 0.22) 50% );
    z-index: 4;
    background-size: 100% 2px,4px 100%;
    pointer-events: none;
    
} 
html {
    background-color: #0d2c2f;
    background-image: url("img/forestdithbg.png");
    background-size: cover;
    image-rendering: pixelated;
    background-attachment: fixed;
}
body {
    color: #73ffd5;
    font-family: "Fira Code";
}
.container {
    padding:20px 20px 15px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;

}
.outer {
    width:14%;
}
#box {
    border-radius: 13px 13px 0 0;
    box-shadow : 0 0 0 4px rgb(244, 128, 147),
    0 0 0 7px #f5e8ea,
    0 0 0 15px rgba(255, 255, 255, 0);
  }
.grid {
    display: grid;
    grid-template-columns: 0.35fr 1.6fr; 
    grid-template-areas: 
      "header header"
      "side main"
      "footer footer"; 
    max-width:1350px;
    position: relative;
}
  
#header {
    display:flex;
    flex-direction: row;
    grid-area: header;
    position: relative;
    height: 60px;
    padding-top:6px;
    margin: 0;
    border-bottom: 3px solid #f5e8ea;
    border-radius: 9px 9px 0 0;
    background-image: linear-gradient(0deg, rgb(243, 116, 127), rgb(221, 68, 88) 60%, rgb(221, 68, 94) 80%, rgb(244, 128, 138) 100%);
    color: #fff;
    letter-spacing: 3px;
    font-family: "Cozette";
    font-size:42px;
    z-index:2;
    p {
        padding-left:2%;
        padding-bottom: 10px;
        font-size: 14px;
        align-self: flex-end;
    }
    img {
        size: 200%;
        margin: -26px -5px -28px -48px;
        vertical-align: middle;
        filter: drop-shadow(0 0 15px rgba(159, 255, 230, 0.6)) brightness(1.05);
        image-rendering: pixelated;
    }
}

#side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: rgba(15, 9, 31, 0.3);
    backdrop-filter: blur(2.8px);
    border-left: 3px solid #f5e8ea;
    border-right:3px solid #f5e8ea;
    z-index:1;
}
.sidebox {
    border:2px solid #f5e8ea;
    border-radius: 7px 7px 0 0;
    height:fit-content;
    padding: 0;
    margin:10px;

    box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);

    .subheader {
        image-rendering:auto;
        background-image: linear-gradient(0deg, rgb(243, 116, 127), rgb(221, 68, 88) 60%, rgb(221, 68, 94) 80%, rgb(244, 128, 138) 100%);
        border-radius: 4px 4px 0 0;
        border-bottom: 2px solid #f5e8ea;
        font-size: 18px;
    }
}

.subheader {
    background-image: linear-gradient(to right,rgb(29, 89, 97), rgb(12, 43, 48));
    width: 100%;
    padding: 8px 10px 4px 10px;
    border-radius: 2px 2px 0px 0px;
    border-bottom: 2px outset rgba(4, 29, 24, 0.4);
    font-family: "Cozette";
    font-size: 18px;
    font-weight:500;
    color: white;
    text-align: left;
}

.sidecontent {
    background-image: linear-gradient(to right,rgb(96, 233, 224), rgb(77, 214, 205));
    backdrop-filter: blur(2.5px);
    line-height:1.5;

    a {
        padding: 3px 5px 0 7px;
        border-bottom: 1px dotted black;
        box-shadow: inset 0px 2px 2px 1px rgba(160, 255, 239, 0.5);
    
        color:rgb(31, 36, 4);
        font-size:14px;
        font-weight:400;
        text-decoration:none;
        &:nth-child(even) {
            background-image: linear-gradient(to left,rgb(96, 233, 224), rgb(96, 233, 224));
        }
    }
    p {
        padding: 3px 5px 2px 7px;
        box-shadow: inset 0px 5px 12px -5px rgba(0, 0, 0, 0.8);
        border-bottom: 1px dotted black;
        background-image: linear-gradient(to right,rgb(35, 108, 117), rgb(17, 58, 65));
        font-size:12px;
        color:#ffffff;
    }
}
.sidecontent a:hover {
    background-image: linear-gradient(to right,rgb(205, 255, 255), rgb(186, 255, 255));
    box-shadow: inset 0px 3px 3px 1px rgba(234, 255, 251, 0.5);
    font-size:14px;
    font-weight:600px;
    text-decoration:none;
    transition:none;
}
.sidecontent a:focus {
    background-image: linear-gradient(to right,rgb(96, 233, 224), rgb(77, 214, 205));
    border-bottom:1px dotted white;
    box-shadow: inset 0px 3px 15px -5px rgba(6, 32, 39, 0.8);
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    grid-area: main;
    position: relative;

    backdrop-filter: blur(2.6px);
    border-right:3px solid #f5e8ea;
    margin: 0;
    padding: 0;
    background-color:rgb(1, 15, 17);
   

    h3 {
        text-align: center;
        color: rgb(234, 240, 161);
    
        text-shadow:
        0 0 5px rgba(183, 231, 80, 0.5), 0 0 10px rgba(183, 231, 80, 0.5),
        0 0 15px rgba(183, 231, 80, 0.5), 0 0 20px rgba(183, 231, 80, 0.5);
        margin-bottom:5px;
    }
    h4 {
        color: #f1c6d8;
        text-shadow:
        0 0 5px rgba(231, 68, 90, 0.8), 0 0 10px rgba(231, 68, 90, 0.8),
        0 0 15px rgba(231, 68, 90, 0.8), 0 0 20px rgba(231, 68, 90, 0.8);
        margin-bottom:5px;
        font-size:16px;
    }
    a {
        text-decoration: none;
        text-shadow: 0 0 10px rgba(247, 225, 118, 0.4);
        color: rgb(250, 248, 102);
        transition: 0.3s ease-in-out;

        &:hover {
            filter: drop-shadow(0 0 5px rgba(243, 240, 171, 0.4)) brightness(1.2);
            transition: 0.3s;
        }
        &:active {
            color:rgb(241, 160, 38)
        }
        &:focus {
            border-bottom:1px dotted rgb(241, 160, 38);
        }
    }
    .hiddenlink:hover {
        filter:none;
    }
    p, ul {
        font-size:14px;
        line-height:1.4;
        padding: 12px 30px 0 30px;
    }
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 30px;
    }
    b, strong {
        font-weight:600;
        color: #9effe2;
        text-shadow: 2px 0 2px rgb(251, 12, 104), 0px -1px 3px rgba(12, 79, 251,.5),-2px 0 2px rgb(12, 251, 92);
    }
    i, em {
        font-style:italic;	
        color: #ff95bc;
    }
    br {
        display: block;
        content: "";
        margin-top: 0;
    }
    hr{
        color: rgba(45, 219, 206, 0.8) 
    }

}
.mainbox {
    margin-top:10px;
    margin-bottom:10px;
}
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    list-style-type: "❯❯ ";
    margin-left:20px;
}

mark {
    background-color:rgba(197, 238, 47, 0.5);
}
details {
    font-size:14px;
    line-height:1.4;
    padding: 3px 30px 3px 30px;
}
details summary{
    cursor: pointer;
}
details details, details p, details ul, details h3 {
    margin-top:8px;
}
.code {
    border: 2px solid rgba(168,215,101,0.8);border-radius:7px;
    box-shadow: 0 0px 10px rgba(200,224,166,0.4);
    background-color: rgb(4, 11, 12);
    margin-left: auto;
    margin-right:auto;
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
    width:fit-content;
    backdrop-filter: blur(3px);

    p {
        font-size:12px;
    }

}
sup {
    font-size:10px;
}
.mincontent {
    background-color: #000000;
    background-image: radial-gradient( rgba(168, 38, 77, 0.2), black);
    border-radius: 8px 8px 0 0;
    margin:20px 10% 10px 10%;
    color:rgb(248, 238, 242);
    font-weight:500;

    box-shadow: 0px 0 12px 3px rgba(197, 39, 87, 0.6), inset 0px 0 12px 4px rgba(197, 39, 87, 0.6); 
    border: 4px solid #e95474;

    h3 {
        background: rgb(222, 75, 111);
        box-shadow:
    0px 0 9px 3px rgba(197, 57, 99, 0.6); 
        width: 100%;
        padding: 4px 7px;
        margin:0px;
        border-radius: 3px 3px 0px 0px;
        font-family: "Cozette";
        font-size: 18px;
        color: white;
        text-shadow: none;
        text-align: left;
    }
    section {
        padding:18px 25px 7px 25px;
    }
    ul {
        padding: 10px 20px 13px 20px;
    }
    li, p {
        font-size: 13px;
        padding: 10px 20px 10px 10px;
        line-height: 1.25;
    }
    i, em {
        color: rgb(145, 27, 76);
    }
    b, strong {	
        color: #06e688;
        text-shadow: none;
    }
}

.mincontent a {
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 174, 255, 0.4);
    color: #3528e6;

    &:hover {
        filter: brightness(1.6);
    }
    &:active {
        color:rgb(86, 10, 180)
    }
    &:focus {
        border-bottom:1px dotted #3528e6;
    }
}

.tab {
    margin: 10px 50px 10px 50px;

    input {
        position: absolute;
        z-index: -1;
       }
   }

   .tab_content {
    max-height: 0;
    overflow: hidden;
   }

   .tab input:checked~.tab_content {
    max-height: 1200px;
   }

   .tab_label,
   .tab_close {
    display: flex;
    font-family: "Cozette";
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    background-image: linear-gradient(to top,#55979b, #488a8d);
    
    cursor: pointer;
   }

   .tab_label {
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    border:2px solid rgba(255, 255, 0, 0);
   }

   .tab_label:hover {
    border-top:2px solid rgba(255, 153, 0, 0.8);
    background-image: linear-gradient(to top,rgb(68, 122, 124), rgb(58, 110, 112));
   }
   .tab input:checked~.tab_label {
    color: white;
    background-image: linear-gradient(to top,rgb(54, 97, 99), rgb(42, 81, 82));
    border-radius: 8px 8px 0 0;
    border-top:2px solid rgba(255, 208, 0, 0.8);
   }

   .tab input:checked~.tab_label {
    border-radius: 4px 4px 0 0;
   }

   .tab_label::after {
    content: "\2B";
    width: 10px;
    height: 10px;
    text-align: center;
   }
   .tab input:checked+.tab_label::after {
    content: "\2193";
   }

   .tab_content:hover,
   .tab input:checked~.tab_content {
    border-left: 1px dashed rgba(255, 208, 0, 0.8);
    border-bottom: 1px dashed rgba(255, 208, 0, 0.8);
    border-right: 1px dashed rgba(255, 208, 0, 0.8);
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    background-color: rgba(25, 106, 116, 0.6);
    font-size: 14px;
   }
   .tab_content p, .tab_content ol {
     font-size:14px;
     margin-bottom:10px;
     line-height:1.4;
   }
   .tab_content a {
text-decoration: none;
text-shadow: 0 0 10px rgba(247, 225, 118, 0.4);
color: #e9e752;
}
.tab_content a:hover {
filter: drop-shadow(0 0 5px rgba(243, 240, 171, 0.4)) brightness(1.2);
}
.tab_content a:active {
color:rgb(241, 160, 38)
}
.tab_content a:focus {
border-bottom:1px dotted #e9e752;
}

   .tab_content input:before {
    padding: 0;
   }
.pic {
    border:2px solid #f5e8ea;
    border-radius: 7px 7px 0 0;
    height:fit-content;
    padding: 0;
    margin:15px;

    box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 9px 9px 5px -7px rgba(0,0,0,0.3);

    .subheader{
        background-image: linear-gradient(0deg, rgb(243, 116, 127), rgb(221, 68, 88) 60%, rgb(221, 68, 94) 80%, rgb(244, 128, 138) 100%);
        border-radius: 4px 4px 0 0;
        border-bottom: 2px solid #f5e8ea;
    }
}

figure {
    display:grid;
    a {
        margin-bottom:-4px;
    }
}
figcaption {
    border-top: 2px solid #cfc5c6;
    padding:2px 5px 5px 5px;
    font-size:12px;
    font-weight:500;
    text-align: center;
    line-height:1.0;
    color:black;
    background-image: linear-gradient(to right, rgb(253, 245, 230),  rgb(233, 226, 213));
    
    i, em {
        color: #851430;
    }
}
.img_zoom {
    transition: transform .2s; /* Animation */
  }
.img_zoom:hover {
    transform: scale(1.15);
}
.img_twist {
    transition: transform .2s; /* Animation */
    &:hover {
    transform: scale(1.15) rotate(-5deg)
}
}
select {
    box-sizing: border-box;
    border: 1px solid #003c74;
    border-radius: 4px;
    text-align:center;
    font-size: 13px;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(241, 220, 242, 1) 86%, rgba(151, 186, 145, 1) 100% );
    cursor: pointer;
    width: fit-content;
    font-family: inherit;
    -ms-word-break: normal;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    word-break: normal;
    &:not(:disabled) {
        &:active {
            box-shadow: none;
            background: linear-gradient(180deg, rgba(205, 202, 195, 1) 0%, rgba(227, 227, 219, 1) 8%, rgba(229, 229, 222, 1) 94%, rgba(151, 186, 145, 1) 100% );
       }
        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #f2cf5c, inset -2px 2px #fbc761, inset 2px -2px #e8a4d0;
       }
   }
    &:focus {
        box-shadow: inset -1px 1px #c4e57e, inset 1px 2px #c4e57e, inset -2px 2px #bcd4f6, inset 1px -1px #626de0, inset 2px -2px #89ade4;
   }
    &::-moz-focus-inner {
        border: 0;
   }
}
.selectdiv {
    padding-bottom:10px;
    font-family:Fira Code, monospace;
    margin-bottom:3px;
}
button, .btn {
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid hwb(209 0% 54%);
    background: linear-gradient( 180deg, rgba(255, 255, 255, 1) 0%, rgba(241, 220, 242, 1) 86%, rgba(151, 186, 145, 1) 100% );
    box-shadow: none;
    border-radius: 4px;
    cursor: pointer;
    &:not(:disabled) {
        &:active {
            box-shadow: none;
            background: linear-gradient(180deg, rgba(205, 202, 195, 1) 0%, rgba(227, 227, 219, 1) 8%, rgba(229, 229, 222, 1) 94%, rgba(151, 186, 145, 1) 100% );
       }
       &:hover {
           box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #f2cf5c, inset -2px 2px #fbc761, inset 2px -2px #e8a4d0;
           }
         }
         &:focus {
           box-shadow: inset -1px 1px #c4e57e, inset 1px 2px #c4e57e, inset -2px 2px #bcd4f6, inset 1px -1px #626de0, inset 2px -2px #89ade4;
   }
    &::-moz-focus-inner {
        border: 0;
   }
}

#to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    font-size: 16px;
    font-family: "Cozette";
    font-weight: bold;
    padding: 6px 12px 12px 12px;
    border-radius: 4px;
  
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.tooltip, .tooltip i {
    display: inline-block;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    color: #ff95bc;;
    cursor: pointer;
}
.tooltiptext {
    display: none;
    visibility: visible;
    background: #691544;
    border-radius: 6px;
    max-width:fit-content;
    padding: 5px;
    left: 10px;
    right: 10px;
    border: 2px solid rgb(81, 240, 192);
    line-height:1.2;
    font-size:13px;
    font-weight: 400;
    position: absolute;
    z-index: 3;
}
.tooltip:hover + span {
    display: block;
}
footer {
    grid-area: footer;
    justify-self: center; 
    width: 100%;
    padding-top: 5px;
    padding: 3px;
    color:white;
    border-top: 3px solid #f5e8ea;
    background-image: linear-gradient(0deg, rgb(243, 116, 127), rgb(221, 68, 88) 60%, rgb(221, 68, 94) 80%, rgb(244, 128, 138) 100%);
    font-size:12px;
    text-align:center;

    a:hover {
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.7));
    }
}

@media only screen and (max-width: 1281px) {
    .container {
        padding: 5px;
        flex-direction: column;
        margin:0 25px 0 25px;
    }
    .outer {
        margin-left:85%;
        margin-right:auto;
    }
    .selectdiv {
        float:right;
    }
}
@media only screen and (max-width: 700px) {
    #header {
        font-size:32px;
        height:fit-content;
    }
    body {
        margin: 0;
    }
    .container {
        padding: 0;
        margin:0 10px 5px 10px;
    }
    .outer {
        margin-top:5px;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
    #header img {
        display: none;
    }

    .side {
        position: relative;
    }
    .nav {
        padding: 0px;
        position: relative;
        transition: max-height 200ms cubic-bezier(0.23, 1, 0.32, 1);
        max-height: 300px;
        overflow: hidden;
    }
    .sidecontent > a {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    main {
        border:3px solid #f5e8ea;
    }
    .mainbox {
        margin:0;
    }
    .flexrow {
        flex-direction: column;
    }
    .pic {
        margin-left:auto;
        margin-right:auto;
    }
    footer {
        border:none;
    }
}
