#container {
    max-width: 900px;
    margin-top: 20px;
   }
#box {
    color: #000;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: unset;
    margin-bottom:20px;
    &::before,
    &::after {
        content: '';
		position: absolute;
		left: -3px;
		top: -3px;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		background: #333;
		background-image: linear-gradient(45deg, rgb(203,87,155), rgb(168,215,101), rgb(103,208,177));
        background-size: 300%;
		animation: position 20s linear infinite alternate;
		z-index: -1;
    }
    &::after {
        filter: blur(20px);
    }
}

@keyframes position {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.blogdetail {
    font-size: 80%;
    position: relative; 
	top: -0.8em; 
   }
#contentboxes{
    font-size:16.5px;
    line-height:1.55;
	background-color: rgb(13, 36, 38);
	z-index:-1;
   }
#gridbg{
	background-image: url("blog_img/transparent-grid-overlay.png");
	    image-rendering: auto;
    background-size: 300px;
	z-index:1;
}
main {
    flex: 100%;
    padding: 30px 50px 30px 50px;
   }
h2 {
    font-size: 32px;
    font-family: "TheGoodMonolith";
	line-height:1.2;
   }
h3 {
    font-size: 22px;
    color: #c4e57e;
    text-shadow: 0 0 10px rgba(243, 247, 118, 0.4);
   }
b, strong {
    color: #52d392;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
   }
i, em {
    color: #a4e0e8;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
   }