html {
    background-image: url("blog_img/ditherfinnydark.png");
    background-color: rgb(4, 17, 19);
}

#container {
    max-width: 850px;
    margin-top: 20px;
    font-size:14px;
    line-height:1.55;
	z-index:-1;
    margin-left: auto;
    margin-right: auto;
   }

#box {
    color: #fdf5e6;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.0);
    position: relative;
    overflow: unset;
    margin-bottom:20px;
    &::before,
    &::after {
        content: '';
		position: absolute;
		left: -3px;
		top: -3px;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		background: #333;
		background-image: linear-gradient(45deg, rgb(187, 95, 149), rgb(160, 201, 103), rgb(117, 201, 176));
        background-size: 300%;
		animation: position 20s linear infinite alternate;
		z-index: -1;
    }
    &::after {
        filter: blur(20px);
    }
}
@keyframes position {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
main {
    background-color: rgb(19, 45, 49);
    background-image: url("blog_img/transparent-grid-overlay.png");
	image-rendering: auto;
    background-size: 300px;
	z-index:5;
    flex: 100%;
    padding: 30px 50px 30px 50px;
    border:0;
   }
   .blogdetail {
    font-size: 12px;
    position: relative; 
   }
   main p {
    line-height:1.6;
   }
h2 {
    color: rgb(152, 238, 219);
        text-shadow: 0 0 10px rgba(160, 240, 233, 0.5);
        font-weight: 700;
        font-family:'TheGoodMonolith';
        font-size: 24px;
	padding:20px 0 15px 0;
   }
h3 {
    font-size: 18px;
    color: #c4e57e;
    text-shadow: 0 0 10px rgba(243, 247, 118, 0.4);
   }
b, strong {
    color: #52d392;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
   }
i, em {
    color: #a4e0e8;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
   }
a {
    text-decoration: none;
    text-shadow: 0 0 10px rgba(247, 225, 118, 0.4);
    color: #e9e752;
}
a:hover {
    filter: drop-shadow(0 0 5px rgba(243, 240, 171, 0.4)) brightness(1.2);
}
a:active {
    color:rgb(241, 160, 38)
}
a:focus {
    border-bottom:1px dotted #e9e752;
}
p, ul, h3 {
    margin-bottom:15px;
}