html:before {
    z-index: 5;
}
html {
    background-image: url("../img/ditherdoubley2.png");
    background-color: rgb(4, 17, 19);
    background-repeat: repeat;
    background-size:auto;
    image-rendering: pixelated;
    background-attachment: fixed;
}

#container {
    max-width: 850px;
    margin-top: 10px;
    font-size:14px;
    line-height:1.55;
	z-index:-1;
    margin-left: auto;
    margin-right: auto;
   }
.logo {
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding-bottom:10px;
}
#box {
    color: #73ffd5;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: unset;
    margin-bottom:20px;
    margin-top:20px;

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    &::before,
    &::after {
        content: '';
		position: absolute;
		left: -6px;
		top: -6px;
		width: calc(100% + 12px);
		height: calc(100% + 12px);
		background: #333;
		background-image: linear-gradient(45deg,  rgb(119, 233, 227), rgb(231, 233, 112), rgb(235, 109, 182), rgb(119, 233, 227), rgb(231, 233, 112), rgb(235, 109, 182));
        background-size: 400%;
		animation: position 20s linear infinite alternate;
		z-index: -1;
    }
    &::after {
        filter: blur(10px);
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes position {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
main {
    background-color:rgb(1, 15, 17);
	image-rendering: auto;
    background-size: 300px;
	z-index:3;
    flex: 100%;
    padding: 30px 50px 30px 50px;
    border:0;
    p, li {
        line-height:1.55;
        padding-right:0;
       }
       b, strong {
        font-weight:bold;	
        text-shadow: none;
    }
    i, em {
        font-style:italic;	
        color: #ff95bc;
    }
   }
   .blogdetail {
    font-size: 12px;
    position: relative; 
    padding-top: 0;
    padding-bottom: 30px;
   }

h2 {
    color: #c4e57e;
        text-shadow: 0 0 10px rgba(160, 240, 207, 0.5);
        font-weight: 700;
        font-family:'Cozette';
        font-size: 24px;
	padding:20px 0 0px 0;
   }
main h3 {
    font-size: 18px;
    color: #c4e57e;
    text-shadow: 0 0 10px rgba(243, 247, 118, 0.4);
    text-align: left;
    padding-top: 15px;
    margin-bottom: 0;
   }
   h4 {
    font-size: 16px;
    color: rgb(233, 158, 196);
    text-shadow: 0 0 10px rgba(255, 202, 255, 0.4);
   }
.code {
    border: 2px solid rgb(27, 223, 207);
    box-shadow: 0 0px 10px rgba(21, 177, 177, 0.4);
} 
a {
    text-decoration: none;
    text-shadow: 0 0 10px rgba(247, 225, 118, 0.4);
    color: #e9e752;
    transition: 0.3s ease-in-out;
}
a:hover {
    filter: drop-shadow(0 0 5px rgba(243, 240, 171, 0.4)) brightness(1.2);
    transition: 0.3s ease-in-out;
}
a:active {
    color:rgb(241, 160, 38)
}
a:focus {
    border-bottom:1px dotted #e9e752;
}
main p, main ul, main h3 {
    padding-bottom:10px;
    padding-left:0;
}
ul li{
    list-style-type: "❯❯ ";
    margin-left:40px;
}
.pic {
    margin: 10px 0;
}
main hr {
    margin-top:25px;
    margin-bottom:25px;
    color:rgb(27, 223, 207);
    filter: drop-shadow(0 0 5px rgb(21, 177, 177));
}

.left {
    float: left;
    margin-right:20px;
}

.right {
    float: right;
    margin-left:20px;
}

#to_top {
    z-index: 4;
  }

  @media only screen and (max-width: 700px) {
    main {
        padding-left:20px;
        padding-right:20px;
        p {
            padding-right:0;
        }
    }
    #container {
        margin-left:20px;
        margin-right:20px;
    }
    .left, .right {
        display:block;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
}
